/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

###Typography

font-family: 'Inter', sans-serif;

font-family: 'Lexend Deca', sans-serif;*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  background-color: hsl(233, 47%, 7%);
  color:hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
  height:100vh;
}

.wrapper{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items:center;
  padding:7%;
}

.card-container{
  background-color:hsl(244, 38%, 16%);  
  max-width:1280px;
  width:100%;
  display:flex;
  border-radius:10px;
}

.card-container__text{
  padding:7%;
}

.card__title{
  margin-bottom:20px;
  line-height:1.2em;
}

.card__para{
  font-family: 'Lexend Deca', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom:60px;
  font-size:12px;
  line-height:1.4rem;
  width:90%;
}

.card-container__image{
  background-image:linear-gradient(hsla(277, 76%, 40%, 0.432),hsla(277, 76%, 40%, 0.432)),url(images/image-header-desktop.jpg);
  background-size:cover;
  background-position:center;
  width:100%;
  height:auto;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

h1{
  font-weight:700;
}

h1 span{
  color:hsl(277, 64%, 61%);
}

.stats-container{
  display:flex;
  justify-content: space-between;
  width:80%;
}

.stats__item{
  display:inline-block;
}

.stats__number{
  color:hsl(0, 0%, 100%);
  font-size:20px;
  font-weight:700;
  margin-bottom:5px;
}

.stats__heading{
  font-family:'Lexend Deca', sans-serif;
  color:hsla(0, 0%, 100%, 0.6);
  font-size:10px;
  text-transform:uppercase;
  letter-spacing: .1em;
}


.attribution {
  clear:both;
  font-size: 11px;
  text-align: center;
  margin-bottom:50px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (max-width:375px){
  .wrapper{
    display:flex;
    justify-content: center;
    align-items:center;
  }

  .card-container{
    display:flex;
    flex-direction:column-reverse;
  }

  .card-container__text{
    text-align:center;
  }

  .card-container__image{
    background-image:linear-gradient(hsla(277, 76%, 40%, 0.432),hsla(277, 76%, 40%, 0.432)),url(images/image-header-mobile.jpg);
    height:250px;
    width:auto;
    border-radius:10px 10px 0 0;
    margin-bottom:20px;
  }


  .card__para{
    font-size:15px;
    width:100%;
    margin-bottom:30px;
  }
  
  .stats-container{
    display:flex;
    flex-direction: column;
    width:100%;
  }

  .stats__item{
    margin-bottom:30px;
  }
}